.signup-child.bg-white
  .signup-header
    h2 #{crop.name}
    .signup-pricing
      span.pricing Rs.#{crop.price}
      | / KG
  .signup-features
    ul
      li 🥗
        //- i.fas.fa-check.small-icon  
        |   #{crop.description}
      li ⚖︎
        //- i.fas.fa-check.small-icon  
        |   Quantity Available: #{crop.quantity}
      -if(role=="buyer"){ 
      li 📌
        //- i.fas.fa-check.small-icon  
        |   From #{crop.address}
      li ✅
        //- i.fas.fa-check.small-icon  
        |   Free delivery Available
    .signup-button
      a.btn.btn-full(href='#') Buy Now
    .signup-button
      a(href=`/cropFarmerPage/${crop["_id"]}`).btn.btn-full Contact Farmer    
    -}else{ 
    .signup-button
      a.btn.btn-full.delete-crop(href='#',data-id=crop._id) Delete This Crop 
    -}  
    
